/*--------------------------------
   Start Preloader & General Styling
----------------------------------*/

html {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

h1 {
  font-size: 2rem;
  padding-top: 100px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 100;
  color: #bbb;
}


h2 {
  font-weight: 100;
  color: #bbb;
}

h3 {
  font-weight: 100;
  color: #bbb;
}

h4 {
  font-weight: 200;
  font-size: 1rem;
  color: #bbb;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 200;
    color: #bbb;
}

a {
	color: #bbb;
	
}

li {
	color: #bbb;
}

.img {
	width:50px;
}
* {
  outline: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  height: 100%;
  font-weight: 300;
  background: #313131;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  min-height: 420px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2c2f;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*--------------------------------
   End Preloader & General Styling
----------------------------------*/

/*--------------------------------
  Start Header
----------------------------------*/

/* ========= Header ======= */

.header {
  background: #313131;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  min-height: 420px;
}

.logo {
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 40px;
}

.logo img {
  width: 205px;
}


.header::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.6);
  z-index: 9;
}

.head-container {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  color: white;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 100;
  z-index: 10;
}

.head-holder {
  display: table-cell;
  vertical-align: middle;
}

.introduction {
  font-size: 35px;
  font-weight: 200;
  font-style: normal;
  font-family: 'DM Sans', 'sans-serif' !important;
  text-shadow: rgba(255,255,255,1) 4px 4px 4px;
  padding-top: 0px;
  color: #ffffff;
}
.subintroduction {
  font-size: 35px;
  font-weight: 100;
  font-style: normal;
  font-family: 'DM Sans', 'sans-serif' !important;
  text-shadow: rgba(255,255,255,1) 4px 4px 4px;
  padding-top: 0px;
  color: #ffffff;
}

.head-holder .hireMe {
  display: inline-block;
  background: transparent;
  margin-top: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  font-weight: 500;
  border: 2px solid white;
  padding: 5px 18px;
  transition: all 0.2s;
}

.button {
  text-decoration: none;
  color: #bbb;
  font-weight: 500;
  margin-top: 15px;
  display: inline-block;
  padding: 7px 10px;
  text-shadow: rgb(135 135 135) 4px 4px 4px;
  border-left: 1px solid rgb(187, 187, 187);
  background: linear-gradient(90deg, #313131 0%, rgb(65 65 65) 61%, #313131 100%);
}

.button:hover {
  background: #555;
}

label:hover {
  cursor: pointer;
}

/* ========= Full Screen Navigation ======= */

.name {
  text-align: center;
}

@keyframes move {
  0% {
    top: 0px;
  }
  33% {
    top: -30px;
  }
  67% {
    top: -60px;
  }
}

/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
  Start Menu
----------------------------------*/

/* ========= 3.1 Desktop Menu ======= */

.menu {
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 999;
}

.menu-fix {
  position: fixed;
}

.menu-container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  /*background: #333;*/
  align-items: center;
  justify-content: center;
  font-weight: 300;
 /* transition: background 1s; */
}

.desktop-menu-logo img {
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

.desktop-menu-logo {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 1px;
}

.menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.desktop-menu .hvr-underline-from-left:hover:before,
.desktop-menu .hvr-underline-from-left:focus:before,
.desktop-menu .hvr-underline-from-left:active:before {
  /* right: 0; */
}

.desktop-menu .hvr-underline-from-left:before {
  background: #fff;
}

.desktop-menu .hvr-underline-from-left:before {
  bottom: 11px;
  height: 2.5px;
}

.desktop-menu {
  display: flex;
  width: 100%;
  justify-self: flex-end;
  height: 55px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 150px;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  transition: color 1s;
  font-weight: 200;
}

/* ========= Mobile Menu ======= */

.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  top: 0;
  background: transparent;
  box-shadow: 0px 0px 4px 0px;
  transition: all 0.5s;
}

.mobile-menu-logo img {
  height: 50px;
  padding: 10px;
}

.mobile-menu-logo {
  position: absolute;
  left: 15px;
  top: 4px;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 29px;
}

.mobile-menu-nav {
  height: 20px;
  width: 34px;
  display: inline-block;
  position: absolute;
  right: 14px;
  top: 18px;
}

.mobile-menu-nav span {
  display: block;
  width: 100%;
  height: 4px;
  background: #a7a7a7a7;
  position: relative;
  top: 4px;
  transition: 0.5s;
}

.mobile-menu-nav span:first-child {
  top: -2px;
}

.mobile-menu-nav span:last-child {
  top: 10px;
}

.mobile-menu-nav:hover {
  cursor: pointer;
}

.menu-slider {
  position: absolute;
  display: none;
  z-index: 999;
  top: 55px;
  left: 0;
  right: 0;
  background: #00000091;
}

.menu-slider ul {
  list-style: none;
  padding: 0 17px;
  margin: 7px 0;
  text-align: center;
}

.menu-slider li {
  padding: 9px;
}

.menu-slider li a {
  font-size: 20px;
  font-weight: 200;
  color: #bbb;
}

/*--------------------------------
   End Menu
----------------------------------*/
/*--------------------------------
   Start About Me
----------------------------------*/

.about-me-text h1 {
  position: relative;
  color: #bbb;
  font-weight: 100;
  letter-spacing: 2px;
  padding-top: 0px;
}

.about-me-text p {
  color: #bbb;
  font-size: 16px;
  font-weight: 200;
}

.download-cv:hover,
.download-cv:focus {
  text-decoration: none;
}

/* ========= Start Skill ======= */

.skill-progress-bar {
  margin-top: 41px;
  margin-right: 41px;
}

.skillbar {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  width: 100%;
  background: #313131;
 /*  border: 0px solid #; */
  height: 18px;
  border-radius: 22px;
  transition: 0.2s linear;
  transition-property: width, background-color;
}

.skillbar-title,
.skill-bar-percent {
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 7px;
  text-shadow: rgba(0,0,0) 4px 4px 4px;
}

.skill-bar-percent {
  float: right;
}

.skillbar-bar {
  height: 10px;
  margin: 0px 2px;
  width: 0px;
  border-radius: 22px;
  background: linear-gradient(90deg, #313131 0%, rgb(109 109 109) 61%, #bbbbbb 100%);
}

.services {
  justify-content: right;
  display: flex;
  margin-top: 25px;
}

/*--------------------------------
   End About Me
----------------------------------*/

.footer-icons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 210px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin: auto;
}

.footer-icons div {
  display: inline-block;
}

.footer-icons a {
  text-decoration: none;
  color: #313131;
  font-size: 17px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
}

.footer hr {
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.credit {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 200;
  color: #fff;
  margin-bottom: 30px;
}

/*--------------------------------
  Start Header
----------------------------------*/

@media (max-width: 550px) and (min-height: 501px) {
  .introduction {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .subintroduction {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .animated-text {
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 2px;
  }
  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 18px;
    padding: 3px 12px;
  }
}

@media (max-height: 535px) and (max-width: 468px) {
  .name {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .logo {
    left: 10px;
  }
  .header .logo img {
    width: 185px;
  }
}

@media (max-width: 990px) {
  .header {
    background-position: center;
  }
}

@media (min-height: 301px) and (max-height: 500px) {
  .introduction {
    font-size: 35px;
  }
  .animated-text {
    font-size: 18px;
  }
  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }
}

@media (max-height: 300px) {
  .introduction {
    font-size: 35px;
  }
  .animated-text {
    font-size: 18px;
  }
  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }
  .head-container {
    display: block;
    margin-top: 130px;
    margin-bottom: 50px;
    height: auto;
  }
}

.hero-image {
  height: 100%;
  overflow: hidden;
  filter: grayscale(1) contrast(1) brightness(0.4);
}

.hero-image img {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
  padding: 0px;
}

/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
 Start Menu
----------------------------------*/

@media (max-width: 991px) {
  .desktop-menu {
    width: 95%;
    margin-left: 150px;
  }
}

@media (max-width: 1250px) {
  .desktop-menu {
    display: none;
  }
} 
@media (max-width: 1250px) {
  .mobile-menu {
    display: block;

  }
  .menu-container {
    justify-content: flex-end;
    padding: 0px 20px;
    height: 0px;
    background: #fff;
  }
  .desktop-menu-logo {
    display: none;
}
}

@media (min-width: 601px) and (max-width: 991px) {
  .menu-container {
    justify-content: flex-start;
  }
}

/*--------------------------------
 End Menu
----------------------------------*/

/*--------------------------------
  Start About Me
----------------------------------*/

.about-me {
  margin-top: 85px;
}

@media (max-width: 575px) {
  .about-me-text {
    display: block;
    height: auto;
    margin-bottom: 30px;
    order: 2;
  }
  .about-me-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: left !important;
  }
  
  .skill-progress-bar {
    margin-top: 25px;
  }
  .skill {
    margin-top: 30px;
  }
  .skillbar {
    margin-bottom: 15px;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .about-me {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .about-me {
    padding: 0px 0px 0px 0px;
  }
}

/*--------------------------------
   End About Me
----------------------------------*/

/*--------------------------------
  Start Contact
----------------------------------*/

@media (max-width: 300px) {
  .footer-icons {
    width: 100%;
  }
}

.contact {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*--------------------------------
  End Contact
----------------------------------*/
